---
layout: page
title: Categories
header: Posts By Category
group: navigation
permalink: /categories/
---
{% include JB/setup %}


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    {% for category in site.categories %}
    <h2 id="{{ category[0] }}">{{ category[0] | join: "/" }}</h2>
    <ul>
      {% assign pages_list = category[1] %}
      {% include list_pages.html %}
    </ul>
    {% endfor %}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <ul class="tag_box inline">
      {% assign categories_list = site.categories %}
      {% include list_categories.html %}
    </ul>
  </div>
</div>
